.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.ray-carousel {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.ray-carousel .xct-inner {
  position: relative;
}
.ray-carousel .xct-inner:before,
.ray-carousel .xct-inner:after {
  content: " ";
  display: table;
}
.ray-carousel .xct-inner:after {
  clear: both;
}
.ray-carousel .xct-inner:before,
.ray-carousel .xct-inner:after {
  content: " ";
  display: table;
}
.ray-carousel .xct-inner:after {
  clear: both;
}
.ray-carousel .xct-inner .xct-item {
  float: left;
}
.ray-carousel .xct-points {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
  text-align: center;
}
.ray-carousel .xct-points span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 2px;
}
.ray-carousel .xct-points span.active {
  background: #00B9FC;
}
