.carousel2 {
  width: 600px;
  height: 200px;
  position: relative;
  overflow: visible;
  margin: 0 40px;
}
.carousel2 .carousel-imgs-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel2 ul {
  height: 100%;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 1s;
}
.carousel2 ul,
.carousel2 ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.carousel2 ul li {
  width: 200px;
  height: 100%;
  float: left;
  padding: 0;
  box-sizing: border-box;
}
.carousel2 ul li img {
  width: 100%;
  border: none;
}
.carousel2 ul li a {
  cursor: pointer;
}
.carousel2 ul li a:hover {
  opacity: .8;
}
.carousel2 ol {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  z-index: 1;
}
.carousel2 ol li {
  position: absolute;
  width: 40px;
  background: #fff;
  top: 0;
  line-height: 200px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}
.carousel2 ol li:hover {
  color: #BBB;
  background-color: #fcfcfc;
}
.carousel2 ol li.carousel-to-left {
  left: -40px;
}
.carousel2 ol li.carousel-to-right {
  right: -40px;
}
.carousel2 .carousel-toggles-wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 100%;
  height: 30px;
  line-height: 30px;
}
.carousel2 .carousel-toggles-wrapper a {
  margin: 0 3px;
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 0;
  vertical-align: middle;
  background-color: #eee;
  border-radius: 50%;
}
.carousel2 .carousel-toggles-wrapper a.active {
  background-color: #ccc;
}
/* customized */
#J_1 .carousel2 {
  width: 500px;
  height: 100px;
}
#J_1 .carousel2 ul li {
  width: 100px;
}
#J_1 .carousel2 ol li {
  line-height: 100px;
}
#J_2 .carousel2 {
  width: 600px;
  height: 200px;
}
#J_2 .carousel2 ul li {
  width: 200px;
}
#J_2 .carousel2 ol li {
  line-height: 200px;
}
